* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 100vh;
  background: linear-gradient(45deg, #fad0c4, #ffd1ff);

  cursor: url("../image/heart-128.png"), auto;
}

.archer {
  width: 20vmin;
  
  position: absolute;
}
audio{
  display: none;
}
